/* Common codes */
:root{
    --padding: 5px;
    --margin: 5px;  
    --transition: all 0.3s;
    --transform: scale(1.1);
    --pColor:#e8e4f2;
    --sColor:#f0dfec;
}
*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style-type: none;
}

html{
    scroll-behavior: smooth;
}
.j_txt{
  text-align: justify;
}
h1,
p{
  padding: 10px;
}
p{
  text-align: justify;
}
.p-m{
    padding: 5px;
    margin: 5px;
}

.flex-c{
    display: flex;
    justify-content: center;
    align-items: center;
}
/* Ends common codes */

/* Menu Btn and checkbox hidden */
#navmenu-toggle {
  display: none;
}

.menu-btn .f-icon {
  display: none;
}

/* Header starts */
.header p{
  text-align: center;
}
.header-top{
    text-align: center;
    background-color: antiquewhite;
    /* width:100%: */
}
.header-top p{
  font-size: 25px;
}

.navbar{
    text-align: center;
    background-color: aliceblue;
}
.navbar ul li a{
  color: seagreen;
}
.navbar_menu{
      transition: all 0.3s;

}
.navbar_menu a{
  
}

.nav_link{
    background-color: beige;
    transition: all 0.6s;
}
.nav_link:hover {
  transform: scale(1.02);
  color: #2977d6;
  background-color: #b69ede;
}
/* Ends header */

/* Article section */
.article{
  background-color: var(--pColor);
}

/* Skills section */
.skills{
  background-color: var(--pColor);
}
.skills h1 {
  text-align: center;
}
/* Grid layout using flexbox */
p .grid-up{
  visibility: hidden;
}
.grid-container{
  background-color: var(--pColor);
  display: flex;
  flex-direction: column;
}
.grid_item h1{
  text-align: center;
}
.grid_item p{
  text-align: justify;
}
.g-header{
  background-color: darkviolet;
}
.g-main{
  background-color: green;
}
.g-content{
  background-color: greenyellow;
}
.g-footer{
  background-color: blueviolet;
}

/* Footer starts */
.footer{
  background-color: #659ea3;
  color: white;
  font-size: 1.2rem;
  text-align: center;
  display: flex;
  flex-direction: column;
}

.f_icons{
  display: flex;
  justify-content: space-evenly;
  padding: 10px;
}
.f_icon{
  color: white ;
  transition: all 0.5s;
}
.f_icon:hover{
  transform: scale(1.5);
  color: #a15896;
}
/* Ends footer */